{% extends "base.html" %}
{% block content %}
<div class="container">
    {% if error %}
    {{error}}
    <br>
    <br>
    {% endif %}
    <h2 class="heading font-weight-light text-center">Sign Up!</h2>
    <br>
    <div class="container w-50 card ">
        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <br>
            <div class="form-group">
                <label for="usernamelabel"> <span><i class="fas fa-user"></i></span></label>
                <input class="form-control" type="text" name="username" placeholder="Username" id="usernamelabel">
            </div>
            <div class="form-group">
                <label for="passwordlabel"> <span><i class="fas fa-lock"></i></span></label>
                <input type="password" name="password1" class="form-control" placeholder="Password" id="passwordlabel">
            </div>
            <div class="form-group">
                <label for="confirmpasswordlabel"> <span><i class="fas fa-lock"></i></span></label>
                <input type="password" name="password2" placeholder="Confirm Password" id="confirmpasswordlabel" class="form-control">
            </div>
            <br>
            <br>
            <input type="submit" value="Sign Up!" class="btn btn-info w-100 text-center text-white">
        </form>
    </div>
</div>
{% endblock content %}