{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="
  {% static 'css/cover.css' %}">
	<link rel="stylesheet" type="text/css" href=" {% static 'css/bootstrap.css' %}">
</head>
<body>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">My Notes</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">My Notes</h1>
    <p class="lead">Your Very own Notes Website</p>
    <p class="lead">
      <a href="{% url 'signup' %}" class="btn btn-lg btn-secondary">Sign Up! </a>
      <a href="{% url 'login' %}" class="btn btn-lg btn-secondary">Login </a>

    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Image by Gleen Carsten Peters</p>
    </div>
  </footer>
</div>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>