{% extends "base.html" %}
 {% block title %}
 	{{note.title}}
 {% endblock title %}

{% block content %}
	<div class="container card mt-lg-5">
		<div class="row">
		<div class="col-12 text-lg-center card-title"><h1>{{note.title}} </h1></div>
	</div>
	<div class="row card-subtitle ">
		<div class="col text-center"><span><i class="fas fa-calender"> {{note.pub_date_pretty}}</div>
	</div>
	<div class="row card-body">
		<div class="col-12">
			<p>{{note.note}}</p>
		</div>	
	</div>
	</div>
	
{% endblock content %}