{% extends "base.html" %}
 {% block title %}
 	{{note.title}}
 {% endblock title %}

{% block content %}
	<div class="container card mt-lg-5">
		<div class="row">
		<div class="col-12 text-lg-center card-title"><h1>{{note.title}} </h1></div>
	</div>
	<div class="row card-subtitle ">
		<div class="col text-center"><span><i class="fas fa-calender"></i></span> {{note.pub_date_pretty}}</div>
	</div>
	<div class="row card-body">
		<div class="col-12 text-center">
			<p>{{note.note}}</p>
			<a href="{% url 'update' note.id %}" class="btn btn-info text-center px-5">Edit</a>
			<a href="{% url 'delete' note.id %}" class="btn btn-danger px-5 text-center">Delete</a>
	</div>
</div>
</div>
{% endblock content %}